{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- 一覧表示画面 -->
<div class='index-main'>
  <div class='post-contents'>
    {% for question in questions %}
    <!-- 投稿１件分の表示 -->
      <div class='post-content'>
        <!-- コメントに関する表示 -->
        <div class='comment'>
          <div class='comment__num'>
            {{ question.num_answers }}
          </div>
          <div class='comment__unit'>
            comments
          </div>
        </div>

        <!-- 質問本文の表示 -->
        <div class='question'>
          <div class='question-top'>
            <div class='question-top__title'>
              <a href="{% url 'questions:detail' question.pk %}">{{ question.title }}</a>
            </div>
            <div class='question-top__name'>
              {{ question.user.nickname}}
            </div>
          </div>
          <div class='question-bottom'>
            <div class='question-bottom__content'>
              {{ question.content}}
            </div>
          </div>
        {% if question.user == request.user %}
        <div class="delete">
          <form action="{% url 'questions:delete' question.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="削除" class="delete-btn">
          </form>
        </div>
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}