{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <link rel="stylesheet" href="{% static '/css/questions.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>  
    <header>
      <div class='header-contents'>
        <div class='logo'>
          <a href="{% url 'questions:index' %}">TechChat</a>
        </div>
        <div class='post-button'>
          <a href="{% url 'questions:index' %}">質問する</a>
        </div>
      </div>
    </header>


    {% block content %}{% endblock content %}


  </body>
</html>